  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">ApPolitiqueAdmin</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="/admin/login">Dashboard<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/users">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/elections">Elections</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/admins">Admins</a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">

    <li class="nav-item navbar-right">
      <a class="nav-link" href="/admin/logout">Logout</a>
    </li>
  </ul>
  </div>
</nav>