<!DOCTYPE html>
<html lang="fr">
  <head>
    <%= csrf_meta_tags %>
    
    <title>ApPolitique</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top front-nav">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">ApPolitique</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home/index">Accueil<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">élections</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">candidats</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/inscription">inscription</a>
          </li>
        </ul>
      </div>
    </nav>

   

      <%= yield %>


  </body>
</html>
